<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">{{#link-to 'index'}}Home{{/link-to}}</li>
            <li class="navbar-brand">{{#link-to 'about'}}About{{/link-to}}</li>
            <li class="navbar-brand">{{#link-to 'services'}}Services{{/link-to}}</li>
            <li class="navbar-brand">{{#link-to 'contact'}}Contact{{/link-to}}</li>
        </ul>
    </div>
</nav>
<main role="main" class="container">
    {{outlet}}
</main>